# Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# data types

In [2]:
y= 'hi,'

In [3]:
r= 'everyone'

In [4]:
x= 'teacher'

In [5]:
y*100

'hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,hi,'

# importing data

In [6]:
df = pd.read_csv(r'C:\Users\hp\Desktop\Task 4\Task 4.2\Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

In [7]:
path= r'C:\Users\hp\Desktop\Task 4\Task 4.2\Instacart Basket Analysis'

In [8]:
df = pd.read_csv(os.path.join(path, '02 Data','Original Data','orders.csv'), index_col = False)

In [9]:
df.shape

(3421083, 7)

In [10]:
df.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

import

In [11]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [12]:
vars_list ='order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'

In [13]:
df = pd.read_csv(os.path.join(path, '02 Data','Original Data','orders.csv'), usecols=vars_list)

In [14]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

NameError: name 'info' is not defined