In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

__Directions__

_Import data_

In [2]:
df_prods = pd.read_csv(r'C:\Users\hp\Desktop\Task 4\Task 4.2\Instacart Basket Analysis\02 Data\Prepared Data\df_prods_clean.csv', index_col = False)

In [4]:
pf_orders_products_prior = pd.read_pickle('C:\\Users\\hp\\Desktop\\Task 4\\Task 4.2\\Instacart Basket Analysis\\02 Data\\Prepared Data\\orders_products_combined-002.pkl')

In [5]:
path= r'C:\Users\hp\Desktop\Task 4\Task 4.2\Instacart Basket Analysis'

In [6]:
del df_prods["Unnamed: 0"]

In [7]:
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [8]:
pf_orders_products_prior

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,1.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,1.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,1.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,1.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,1.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

_Check the shape of the imported dataframe (it should be the same as the one you exportedâ€”always check!)._

In [9]:
del pf_orders_products_prior["Unnamed: 0"]

In [10]:
pf_orders_products_prior.shape

(32434489, 11)

In [11]:
df_prods.shape

(49672, 5)

_Confirm the results of the merge using the merge flag._

In [12]:
orders_products_merged=pf_orders_products_prior.merge(df_prods, on = 'product_id',how = 'inner', indicator = 'exists')

In [16]:
orders_products_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_day_of_week       int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  prices                  float64
 15  exists                  category
dtypes: category(2), float64(2), int64(10), object(2)
memory usage: 3.7+ GB

In [18]:
orders_products_merged.coloumns

AttributeError: 'DataFrame' object has no attribute 'coloumns'

In [17]:
orders_products_merged[order_id].egg(max)

NameError: name 'order_id' is not defined

_Export the newly created dataframe as orders_products_merged in a suitable format_

__I will export in PKL format because it is easy to export because of the size.__

In [15]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))